.App {
  text-align: center;
}

.task-action-btn {
  margin: 0 5px;
}

.circle-task-count {
  width:100px;
  height:100px;
  border-radius:50px;
  font-size:30px;
  color:#fff;
  line-height:100px;
  text-align:center;
  background:#000;
  margin:0 auto;
}

.count-circle-helper-text {
  margin-top: 10px;
}